.HomeWrapper{
  width: 100%;
  height: auto;
}
.headerWrapper,.laptopHeader,.ClassHeader{
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.headerContainer{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftHeader{
  flex: .4;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 5px;
 gap: 10px;
}
.rightHeader{
  flex: .45;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.rightHeader button{
  text-transform: capitalize;
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.rightHeader button:nth-child(2){
  border: 1px solid #0097b2;
  border-radius: 5px;
  color: #0097b2;
}
.rightHeader button:nth-child(3){
  background-color: #0097b2;
  color: #fff;
  border-radius: 5px;
}
.rightHeader button:nth-child(1):hover{
  color: #0097b2;
}
.rightHeader button:nth-child(3):hover{
  border: 1px solid #0097b2;
  border-radius: 5px;
  background-color: transparent;
  color: #0097b2;
}
.rightHeader button:nth-child(2):hover{
  border: none;
  background-color: #0097b2;
  color: #fff;
}
.logoWRapper{
  height: 100%;
  width: 35%;
  background-color: red;
  /* display: flex;
  align-items: flex-start;
  justify-content: flex-start; */
  padding: 2px 0;

}
.logoWRapper img{
  width:100% ;
  height: 100% ;
  object-fit: contain;
}
.leftHeader select{
  width: 50%;
  height: 40px;
  border-radius: 6px;
  padding-left: 6px;
  text-transform: capitalize;
  border: 1px solid #0097b2;
}
.bannerWrapper{
  max-width: 1200px;
  height:88vh;
  margin: auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.bannerDetailsWrapper{
  height: 100%;
  flex: .58;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.bannerImgWrapper{
  position: relative;
  height: 100%;
  flex: .4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannnerAnimationWrapper{
  position: absolute;
  left: -20px;
  top: 30%;
  width: 250px;
  height: 80px;
  border-radius: 10px;
  background-color: #fff;
   /* Animation */
   animation: moveForwardAndBack 2s infinite ease-in-out;
}
/* Define the animation */
@keyframes moveForwardAndBack {
  0%, 100% {
    transform: translateX(0); /* Initial and final position */
  }
  50% {
    transform: translateX(30px); /* Move 30px forward */
  }
}
.InnerbannnerAnimationWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 8px;
  justify-content: space-between;
}
.bannerAnimationIcon{
  flex: .3;
  height: 100%;
  background-color: #0097b2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerAnimationDetailsWRapper{
  flex: .6;
  height: 100%;
}
.bannerAnimationIcon .fa{
  color: #fff;
}
.bannerImgWrapper img{
  width: 100%;
  height: 90%;
  object-fit: cover;
  position: relative;
  border-radius: 25px;
}
.introWrapper{
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 15px;
  font-size: 1.1rem;
}
.sharedStyles{
  display: flex;
  align-items: center;
  gap: 15px;
}
.IConWrapper,.IconContainer{
  position: relative;
  z-index: 1; /* Place it below the content */
}
.IConWrapper .fa,.IconContainer .fa{
  color: #fff;
  /* z-index: 1; */
}
.IConWrapper::after{
  content: '';
  position: absolute;
  top: 2.5px; /* Adjust to your needs */
  left: -6px; /* Adjust to your needs */
  border-radius: 50%; /* Make it circular */
  width: 23px;
  height: 23px;
  background-color: #0097b2;
  z-index: -1; /* Place it below the content */
}
.IconContainer::after{
  content: '';
  position: absolute;
  top: 2.5px; /* Adjust to your needs */
  left: -2px; /* Adjust to your needs */
  border-radius: 50%; /* Make it circular */
  width: 23px;
  height: 23px;
  background-color: #0097b2;
  z-index: -1; /* Place it below the content */
}
.engage::after{
  top: 1px; /* Adjust to your needs */
  left: -8px; /* Adjust to your needs */
}
.learn::after{
  top: 1px; /* Adjust to your needs */
  left: -5px; /* Adjust to your needs */
}
.Aboutcodehub p{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 0;
}
.bannerDetailsWrapper ul{
  list-style: none;
}
.bannerDetailsWrapper ul li{
  padding: 10px 0;
}
.bannerDetailsWrapper ul li span{
  padding-right: 10px;
}
.bannerDetailsWrapper ul li .fa{
  margin-left: -2px;
}
.inputWrapper{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.countCodeHolder{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-right: 1px solid #e8e8ee;

}
.inputWrapper input{
  height: 50px;
  width: 300px;
  border: none;
  outline: none;
}
.inputWrapper button{
  height: 50px;
  border: none;
  outline: none;
  background-color: #0097b2;
  cursor: pointer;
  width: 150px;
  color: #fff;
  text-transform: capitalize;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.kidsContainer{
  padding: 15px 0;
}
.acitiveStudentsWrapper h3{
  font-size: 1.5rem;
}
.CoursesWrapper{
  width: 100%;
  height: auto;
}
.CoursesContainer{
  max-width: 1200px;
  height: auto;
  margin: auto;
}
.CoursesContainer h3,.parentsCommentsHolder h3{
  text-align: center;
  font-size: 2rem;
  padding: 30px 0;
}
.courseCardContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.courseCard{
  width: 224px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
}
.parentsComments{
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: #f4faff;
}
.parentsCommentsHolder{
  max-width: 1200px;
  height: auto;
  margin: auto;
  padding-bottom: 20px;
}
.parentsCommentsContainer{
  /* max-width: 1200px; */
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.slick-slide > div {
  display: flex;
  justify-content: center; /* Center content horizontally */
}
.parentsCommentsCard{
  width: 370px !important; /* Ensure width is applied */
  height: 350px;
  background-color: #f3f4f7;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
 padding: 10px 20px; 
}
.parentDetailsHolder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #e8e8ee;
  padding-bottom: 5px;
}
.PArentimageHolder{
   height: 100%;
   width: 15%;
   background-color: #0097b2;
   border-radius: 50%;
}
.commentHolder{
  padding: 10px 0;
}
.ParantsLocationHolder{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ParantsLocationHolder .fa{
  color: #0097b2;
}
.RegisterWRapper{
  width: 100%;
  height: 100vh;
}
.RegisterContainer{
  max-width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.RegisterContainer main{
  flex: .6;
  height: 100%;
  padding-right: 35px;
}
.RegisterContainer aside{
  flex: .4;
  background-color: #c1dfe5;
  height: 100%;
  padding-left: 35px;
}
.studentComment{
  width: 90%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.registerLogoWRapper{
  width: 100%;
  height: 70px;
}
.innerstudentComment{
  width: 100%;
  height: 70%;
  border-radius: 15px;
  background-color: #fff;
  padding: 20px 10px;
}
.quoteHolder{
  margin-top: 20px;
}
.quoteHolder p{
  position: relative;
  
}
.quoteHolder p::before{
  content: "“"; /* Add the opening quotation mark */
  color: #0097b2; /* Color for the quotation mark */
  position: absolute;
  top: -10px; /* Adjust position of the quotation mark */
  left: 0; /* Align it to the left of the text */
  font-size: 6rem; /* Size of the quotation mark */
  line-height: 1; /* Ensures proper alignment */
  font-family: serif; /* Use a serif font for the quote */
}
.studentQuote{
  margin-top: 60px;
}
.studentQuote p{
  font-size: 1.2rem;
}
.studentPicholder{
  width: 100%;
  height: auto;
}
.studentPic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 30px;
}
.studentPic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.rightSideLogo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rightSideLogoLeft{
  flex: .4;
  height: 100%;
}
.rightSideLogoRight {
  flex: .6;
  height: 100%;
}
.rightSideLogoRight ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  height: 100%;
}
.rightSideLogoRight ul li{
  cursor: pointer;
}
.rightSideLogoRight ul li:nth-child(1){
  position: relative;
}
.rightSideLogoRight ul li:nth-child(1)::after{
  content: '';
  position: absolute;
  border-right: 2px solid #0097b2;
  top: 10px;
  width: 15px;
  height: 10px;
  right: -25px;
}
.rightSideLogoRight ul li:nth-child(1):hover{
  border-bottom: 1px solid #0097b2;
}
.rightSideLogoRight ul li .fa{
  color: #0097b2;
}
.copywrightHolder{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.RegisterFormWrapper{
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.InnerRegisterFormWrapper{
  width: 70%;
  height: auto;
  /* background-color: red; */
}
.InnerRegisterFormWrapper h3{
  font-size: 2rem;
  margin-top: -13px;
}
.InnerRegisterFormWrapper h4{
  padding: 10px 0;
}
.formInputWrapper{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.InputCodeWrapper{
  width: 40px;
  height: 50px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-right: 1px solid #e8e8ee;
}
.formInputWrapper input{
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.gradeSelectorHolder{
  width: 100%;
  height: auto;
  padding: 10px 0;
}
.gradeSelectorHolder select{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 10px;
  border-radius: 10px;
  text-transform: capitalize;
}
.formBtnwrapper{
  width: 100%;
  height: auto;
  margin: 10px 0;
}
.formBtnwrapper button{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  text-transform: capitalize;
  background-color: #0097b2;
  color: #fff;
  cursor: pointer;
}
.registerPromptWrapper{
  padding: 10px 0;
}
.registerPromptWrapper p span .fa{
  color: #0097b2;
}
.laptopWrapper{
  max-width: 100%;
  height: 100vh;
}
.laptopContainer{
  max-width: 1200px;
  height: 88%;
  margin: auto;
  padding: 10px 0;
}
.laptop{
  width: 100%;
  height: 100%;
  background-color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}
.laptopBtnWrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.laptopBtnWrapper button{
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #e8e8ee;
  text-transform: capitalize;
  cursor: pointer;
}
.laptopBtnWrapper button:first-child{
  background-color: #0097b2;
  color: #fff;
}
.laptopBtnWrapper button:hover{
  border: 1px solid #0097b2;
  background-color: #e8e8ee;
  color: #000;
}
.InnerBookingWrapper{
  width: 100%;
  height: auto;
  padding: 0 10px;
  margin-top: -10px;
}
.InnerBookingWrapper h3{
  font-size: 2rem;
}
.timeSeletorWrapper{
  width: 100%;
  height: auto;
}
.timeSeletorWrapper p{
  font-size: 1.1rem;
  background-color: #c1dfe5 ;
  padding: 8px 10px;
  align-self: flex-start;
  margin: 15px 0;
  color: #000;
  display: inline-block;
  border-radius: 10px;
}
.timeSeletorWrapper input{
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 10px;
  margin: 15px 0 ;
  border-radius: 10px;
}
.bookBtnWrapper{
  width: auto;
  height: auto;
  margin-top: 15px;
}
.bookBtnWrapper button{
  padding: 15px 25px;
  background-color: #0097b2;
  text-transform: capitalize;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}
.bookBtnWrapper button:hover{
  border: 1px solid #0097b2;
  color: #000;
  background-color: transparent;
}
.LoginWrapper{
  width: 100%;
  height: auto;
}
.LoginContainer{
  max-width: 1200px;
  height: auto;
  margin: auto;
}
.InnerLoginWrapper{
  width: 70%;
  height: auto;
  padding-bottom: 20px;
}
.InnerLoginWrapper h3{
  font-size: 2.2rem;
}
.loginInputWrapper{
  width: 100%;
  height: auto;
}
.loginInputWrapper .passwordInput{
  width: 100%;
  height: 50px;
  margin: 15px 0;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0 10px;
}
.LoginCountryCodeWrapper{
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.LoginCountryCodeWrapper input{
  width: 92%;
  height: 50px;
  border: none;
  outline: none;
  border-bottom-right-radius:10px;
  border-top-right-radius:10px;
  padding: 0 10px;
}
.loginCountryCode{
  width: 40px;
  background-color: #fff;
  height: 50px; 
  border-bottom-left-radius:10px;
  border-top-left-radius:10px;
  border-right: 1px solid #e8e8ee;
}
.LoginBtnWrapper{
  width: 100%;
  height: auto;
}
.LoginBtnWrapper button{
  width: 100%;
  height: 50px;
  background-color: #0097b2;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
}
.DashboardWrapper{
  width: 100%;
  height: auto;
}
.teacherLogin input{
  width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.dashBoardContainer{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  overflow-y: auto;
}
.dashBoardContainer aside{
  flex:.2;
  height: 88vh;
  position: sticky;
  top: 0;  
  background-color: #fff;
  padding: 10px 10px 10px 45px;
}
.dashBoardContainer aside ul{
  list-style: none;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.dashBoardContainer aside ul li{
  text-transform: capitalize;
  cursor: pointer;
  width: 100%;
  padding: 15px 10px ;
}
.dashBoardContainer aside ul .active{
  background-color: #0097b2;
  color: #fff;
  padding: 15px 10px ;
  border-radius: 10px;
}
.dashBoardContainer aside ul li:hover{
  background-color: #c1dfe5;
  color: #fff;
  padding: 15px 10px ;
  border-radius: 10px;
  color: #000;
}
.dashBoardContainer main{
  flex: .8;
  height: 88vh;
  overflow-y: auto;
}
.mainInnerWrapper{
  height: auto;
  width: 97%;
}
/* .dashboardDisplayer{
  background-color: red;
} */
.dashboardDetailsHolder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: black; */
  height: 100%;
  width: 50%;
}
.Dashboardimage{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.Dashboardimage img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.DetailsWrapper{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px 0 10px 10px;
}
.TeacherDetailsWrapper,.TeacherActionWrapper{
  width: 100%;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .TeacherDetailsWrapper{

} */
.TeacherImageWrapper,.TeacherNameWrapper,.TeacherEarnsWrapper{
  flex: .3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TeacherActionWrapper{
  padding: 10px;
}
.TeacherNameWrapper p{
  text-transform: capitalize;
  font-size: 1.3rem;
}
.TeacherNameWrapper p span .fa{
  color: #0097b2;
  cursor: pointer;
  
}
.TeacherImageWrapper{
  position: relative;
}
.imageChanger{
 width: 30px;
 height: 30px;
 background-color: #0097b2;
 border-radius: 50%;
 position: absolute;
 right: 17%;
}
.imageChanger:hover{
  transform: scale(1.1);
}
.TeacherImageContainer{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.TeacherImageContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.imageChangerHolder{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageChangerHolder .fa{
  color: #fff;
  cursor: pointer;
}
.actionBtnContainer{
  flex: .15;
  height: 50%;
  background-color: green;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actionBtnContainer p{
  text-transform: capitalize;
}
.actionBtnContainer:hover{
  transform: scale(1.1);
 
}
.allstudents{
  background-color: blue;
}
.allstudents p,.allTeacher p{
  color: #fff;
}
.addTeacher{
  background-color: skyblue;
}
.addStudent{
  background-color: purple;
}
.addStudent p,.uploadedvideo p,.createcurriculum p{
  color: #fff;
}
.createcurriculum {
  background-color: orange;
}
.uploadedvideo{
  background-color: red;
}
.TodaysClasses{
  padding: 10px ;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
}
.TodaysClasses table,.AllTeachersContainer table{
  width: 100%;
  height: auto;
  align-self: flex-start;
 
  justify-content: center;
}
table{
  border-collapse: collapse;
}
.TodaysClasses table th,.MyLessonWrapper table th,.AllTeachersContainer table th,.todayLessonContainer table th{
  text-transform: capitalize;
  text-align: left;
  padding: 10px 5px;
}
.TodaysClasses table td ,.MyLessonWrapper table td,.AllTeachersContainer table td,.todayLessonContainer table td{
  padding: 10px 5px;
}
.TodaysClasses table td:first-child,.todayLessonContainer table td:first-child,.AllTeachersContainer table td:first-child{
  text-transform: capitalize;
}

.TodaysClasses table tr:nth-child(odd) td,.todayLessonContainer table tr:nth-child(odd) td{
 background-color: #e8e8ee;
}
.AllTeachersContainer table tr:nth-child(odd) td,.MyLessonWrapper table tr:nth-child(odd) td{
  background-color: #fff;
}
.TodaysClasses table td button,.todayLessonContainer table td button,.AllTeachersContainer table td button{
  border: none;
  outline: none;
  padding: 8px 10px;
  background-color: #0097b2;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
}
.TodaysClasses table td button:hover,.todayLessonContainer table td button:hover,.AllTeachersContainer table td button:hover{
  transform: scale(1.1);
}
.TodaysClasses table tr:nth-child(odd) td:first-child,.MyLessonWrapper table tr:nth-child(odd) td:first-child,.todayLessonContainer table tr:nth-child(odd) td:first-child,.AllTeachersContainer table tr:nth-child(odd) td:first-child{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.TodaysClasses table tr:nth-child(odd) td:last-child,.MyLessonWrapper table tr:nth-child(odd) td:last-child,.todayLessonContainer table tr:nth-child(odd) td:last-child,.AllTeachersContainer table tr:nth-child(odd) td:last-child{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.AllTeachersWrapper,.AddStudentsWrapper{
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 10px;
}
.AllTeachersWrapper h3,.AddStudentsWrapper h3{
  text-align: center;
  margin: 10px 0;
}
.AddStudentContainer {
  width: 100%;
  height: 77vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AddStudents {
  width: 60%;
  height:auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
}
.AddStudents input{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: #e8e8ee;
  border-radius: 10px;
  border: none;
  outline: none;
  padding:0 10px;
}
.AddBtnWrapper{
  width: 100%;
  height: auto;
}
.AddBtnWrapper button{
  width: 100%;
  height: 40px;
  background-color: #0097b2;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}
.AddBtnWrapper button:hover{
  border: 1px solid #0097b2;
  background-color: transparent;
}
.TodaysClasses h3{
  display: inline-block;
  background-color: #0097b2;
  padding: 5px 10px;
  color: #fff;
  border-radius: 8px;
}
.headerDashlinkWrapper p{
  cursor: pointer;
}
.headerDashlinkWrapper p:hover{
  color: #0097b2;
}
.ClassWRapper{
  width: 100%;
  height: 100%;
}
.ClassHeaderWrapper{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.classHeaderLogowrapper{
  height: 100%;
  flex: .3;
  /* background-color: green; */
  display: flex;
  align-items: flex-start;
}
.classHeaderBtnwrapper{
  height: 100%;
  flex: .3;
}
.classheaderBtnActionwrapper{
  height: 100%;
  flex: .3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logoContainer {
  height: 100%;
  width: 70px;
  padding: 7px 0; 

}
.logoContainer img{
  width: 100%;
  height: 100%;
  border-radius:15px;
  cursor: pointer;
}
.endclassBtnwrapper button{
  padding: 14px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
  color: #fff;
  border-radius: 5px;
  background-color: #0097b2;
}
.endclassBtnwrapper button:hover{
  background-color: transparent;
  color: #000;
  border: 1px solid #0097b2;
}
.classHeaderBtnwrapper ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  list-style: none;
}
.classHeaderBtnwrapper ul li{
  text-transform: capitalize;
  padding: 8px 20px;
  border: 1px solid #0097b2;
  border-radius: 5px;
  cursor: pointer;
}
.classHeaderBtnwrapper ul li:hover{
  border-radius: 5px;
  background-color: #0097b2;
  color: #fff;
}
.classContainer{
  width: 100%;
  height: 88.8vh;
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin: auto;
}
/* .classContainer main{
 
} */
.fullPageMain{
  height: 100%;
  flex:1;
}
.fullPageMain,.classMainWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.classMainWrapper{
  flex:.75;
  height: 100%;
}
/* .classContainer aside{
 
} */
.closeAside{
  height: 100%;
  flex:0;
  background-color: #fff;
  display: none;
}
.classImageDisplayer{
  width: 100%;
  flex: .9;
}
.mainClassBtnActionHolder{
  width: 100%;
  flex: .1;
}
.ClassasideWrapper{
  height: 100%;
  flex:.25;
  background-color: #fff;
  display: block;
}
.chatWrapper{
  width: 87%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chatContainer{
  flex: .9;
  width: 100%;
  overflow-y: auto;
  padding: 5px 0 5px 5px;
}
.chatInputWrapper{
  width: 100%;
  flex: 0.1;
  display: flex;
  align-items: center;
  padding-left:5px;
}
.chatInputWrapper input{
  height: 50px;
  width: 85%;
  background-color: #e8e8ee;
  border: none;
  outline: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0 10px;
}
.chatInputWrapper button{
  height: 50px;
  width: 15%;
  border: none;
  outline: none;
  background-color: #0097b2;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  color: #fff;
}
.SubmitWrapper{
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: .5;
  position: absolute;
  top: 0;
}
.submitInnerWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.submitContainer{
  width: 40%;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.closeBnt{
 position: absolute;
 right: -30px;
 top: -16px;
 width: 30px;
 height: 30px;
 background-color: #0097b2;
 border-radius: 50%;
}
.closeBnt:hover{
  transform: scale(1.1);
}
.closeBtnWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.closeBtnWrapper span{
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.submitinputWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.submitinputWrapper input{
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #e8e8ee;
  padding: 0 10px;
}
.submitinputWrapper button{
  padding: 10px 20px;
  border: none;
  background-color: #0097b2;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.submitinputWrapper button:hover{
  border: 1px solid #0097b2;
  background-color: transparent;
  color: #000;
  text-transform: capitalize;
}
.mainClassBtnActionHolder{
  max-width: 1200px;
  margin: auto;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.mainClassBtnActionHolder ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.mainClassBtnActionHolder ul li p{
   text-transform: capitalize;
}
.classInconHolder{
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.classInconHolder .fa{
  color: #0097b2;
}
.StudentDashboardWrapper{
  width: 100%;
  height: 100%;
}
.todayLessonWrapper{
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.todayLessonWrapper h3{
  padding: 10px 15px;
  background-color: #0097b2;
  align-self: flex-start;
  display: inline-block;
  border-radius: 10px;
  text-transform: capitalize;
  color: #fff;
}
.todayLessonContainer{
  width: 100%;
  height: auto;
}
.todayLessonContainer table{
  width: 100%;
  height: auto;
  margin: 15px 0;
}
.todayLessonContainer table th{
  text-align: start;
  text-transform: capitalize;
}
.MyLessonWrapper{
  width: 100%;
  height: 100%;
  padding: 10px;
}
.MyLessonWrapper table{
  width: 100%;
  height: 100%;
}
.MyLessonWrapper table tr th{
  text-align: left;
}
.MyProjectsWrapper {
  width: 100%;
  height: 88vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MyProjectsContainer{
  width: 60%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: auto;
  padding: 15px 25px;
}
.MyProjectsContainer ol{
  width: 100%;
  height: auto;
}
.MyProjectsContainer ol li{
  padding: 15px 10px;
}
.MyProjectsContainer ol li:nth-child(odd){
  background-color: #e8e8ee;
  border-radius: 10px;
}